/* NGODocument.css */

.ngo-document {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
}

.ngo-document h1 {
    color: #333;
}

.ngo-document p {
    color: #666;
    line-height: 1.6;
    margin: 10px 0;
}


.pdf-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pdf-container>div {
    flex: 1;
    margin: 10px;
    max-width: 45%;
    max-width: 100%;
}