/* PartnersPage.css */

.partners-page {
    margin: 0 auto;
    padding: 20px 120px;
}

.partners-page h1 {
    color: #333;
}

.partner-logos img {
    max-width: 150px;
    margin: 0 auto;
}

.image-slideshow img {
    max-width: 300px;
    margin: 0 auto;
}
.conatinerText > p {
    margin: 25px 10px;
}