.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.text-section {
    flex: 1;
    padding: 20px;
}

.text-content {
    margin-bottom: 40px;
}

.slider-section {
    flex: 2;
    max-width: 600px;
}

.slider-section .slide {
    height: 400px;
    /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}